@import '../../../../styles/mixins';
@import '../../../../styles/variables';
@import '../../../../styles/typography';



.price-modal {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: $basic-000;
  z-index: 1000;
  display: none;
  @include flex(column, flex-start, stretch, 0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

   @include tablet {
    position: absolute;
    width: 360px;
    left: 0;
    bottom: 0;
    inset: auto;
    height: auto;
    border-radius: 16px;
    box-shadow: $shadow-base-default;
  }

  &--open {
    display: flex;
  }

  &__header {
    @include flex(row, space-between, center);
    background-color: $secondary-050;
    padding: $sp-sm $sp-m;
    border-bottom: 1px solid $basic-100;

    span {
      font-size: 18px;
      font-weight: 700;
      color: $text-primary;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    color: $text-primary;
  }

  &__close {
    border: none;
    background: transparent;
    font-size: 18px;
    color: $text-primary;
    padding: 0;
    cursor: pointer;
  }

  &__body {
    padding: $sp-l $sp-m;
    @include flex(column, flex-start, flex-start, $sp-l);
  }

  &__destination {
    @include flex(row, flex-start, center, $sp-s + 1);
    font-size: 14px;

    &-location {
      font-weight: 700;
      color: $text-primary;
      font-family: $font-syne;
      font-size: $sp-m + 2;
      line-height: $sp-l;
      color: $primary-700;
    }

    &-days {
      color: $text-primary;
      font-family: $font-syne;
      font-size: $sp-m + 2;
      line-height: $sp-l;
      font-weight: 500;
    }
  }

  &__rows {
    width: 100%;
    @include flex(column, flex-start, flex-start, $sp-sm);
  }

  &__row {
    @include flex(row, space-between, center, $sp-m);
    font-size: 14px;
    color: $text-primary;
    width: 100%;
  }

  &__label {
    color: $text-primary;
    font-weight: 600;
    font-size: $sp-m;
    line-height: $sp-ml - 2;
  }

  &__value {
    font-weight: 700;
    color: $text-primary;
    font-size: $sp-m + 2;
    line-height: $sp-ml - 2;
  }

  &__footer {
    padding: $sp-m $sp-l;
    border-top: 1px solid $basic-100;
    @include flex(row, space-between, center, $sp-m);
    font-size: 14px;
    font-weight: 600;

    @include tablet {
      background-color: $secondary-050;
    }
  }

  &__final-label {
    color: $text-primary;
    font-weight: 700;
    font-size: $sp-m + 2;
    line-height: $sp-ml;
  }

  &__final-value {
    color: $text-primary;
    font-weight: 700;
    font-size: $sp-ml;
    line-height: $sp-l;
  }
}

.price-modal--up {
  top: auto;
  bottom: 100%;
  transform: translateY(-16px);
}

.price-modal--down {
  top: 100%;
  bottom: auto;
  transform: translateY(16px);
}
