@import '../variables';
@import '../mixins';

.btn {
  color: $white;
  background-color: $primary-700;
  cursor: pointer;
  font-weight: 600;
  border-radius: $sp-xxxl;
  text-decoration: none;
  line-height: 24px;
  font-size: $sp-m;

  //base
  padding: $sp-sm 40px;
  min-height: $sp-xxl;

  &:hover {
    background-color: $primary-800;
  }

  &--secondary {
    background-color: $secondary-400;
    color: $secondary-800;

    &:hover {
      background-color: $secondary-500
    }
  }

  &--white {
    color: $primary-700;
    background-color: $white;
    border: 1px solid $primary-700;

    &:hover {
      color: $primary-800;
      border: 1px solid $primary-800;
      background-color: $white;
    }
  }
}
