@import '../variables';
@import '../mixins';

.btn {
  color: $white;
  background-color: $primary-700;
  cursor: pointer;
  font-weight: 600;
  border-radius: $sp-xxxl;
  text-decoration: none;

  //base
  padding: $sp-sm 40px;
  min-height: $sp-xxl;

  &:hover {
    background-color: $primary-800;
  }
}
