@import '../../../styles/variables';
@import '../../../styles/mixins';

.cards-grid {
  width: 100%;
  padding: 0 $sp-m;
  @include tablet {
    padding: 0;
  }
}

.cards-section {
  margin-bottom: $sp-xxl;

  &__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: $sp-m;
    color: $text-primary;
  }

  &__grid {
    @include grid(1, 24px);

    @include tablet {
      @include grid(2);
    }

    @include tablet-lg {
      @include grid(3);
    }

    @include desktop {
      @include grid(3);
    }
  }
}
