<header class="header">
  <div class="header__container">
    <!-- logo -->
    <div class="header__logo">
      <img src="../../../assets/img/waveless-logo.svg" alt="Waveless" />
    </div>
    <!-- end of logo -->

    <!-- navigation -->
    <nav
      id="main-menu"
      class="header__nav"
      [class.header__nav--open]="isMenuOpen"
      [attr.aria-hidden]="!isMenuOpen"
    >
      <ul class="header__list">
        <li class="header__list__header">
          <span>Menú</span>
          <button class="header__close"
            type="button"
            aria-label="cerrar menú"
            (click)="toggleMenu()"
          >
            <svg
              class="header__close-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                d="M18.8998 17.4999C19.0998 17.6999 19.1998 17.8999 19.1998 18.1999C19.1998 18.4999 19.0998 18.6999 18.8998 18.8999C18.6998 19.0999 18.4998 19.1999 18.1998 19.1999C17.8998 19.1999 17.6998 19.0999 17.4998 18.8999L11.9998 13.3999L6.4998 18.8999C6.2998 19.0999 6.0998 19.1999 5.7998 19.1999C5.4998 19.1999 5.2998 19.0999 5.0998 18.8999C4.8998 18.6999 4.7998 18.4999 4.7998 18.1999C4.7998 17.8999 4.8998 17.6999 5.0998 17.4999L10.5998 11.9999L5.0998 6.49993C4.9998 6.29993 4.8998 6.09993 4.8998 5.79993C4.8998 5.49993 4.9998 5.29993 5.1998 5.09993C5.5998 4.69993 6.1998 4.69993 6.5998 5.09993L12.0998 10.5999L17.5998 5.09993C17.7998 4.89993 17.9998 4.79993 18.2998 4.79993C18.5998 4.79993 18.7998 4.89993 18.9998 5.09993C19.1998 5.29993 19.2998 5.49993 19.2998 5.79993C19.2998 6.09993 18.9998 6.29993 18.8998 6.49993L13.3998 11.9999L18.8998 17.4999Z"
                fill="currentColor"
              />
            </svg>

          </button>
        </li>

        <li class="header__list__item is-active">
          <a href="#" class="header__link">
            <img src="../../../assets/icons/adventure.svg" alt="">
            <span>Aventura</span>
          </a>
        </li>

        <li class="header__list__item">
          <a href="#" class="header__link">
            <img src="../../../assets/icons/world.svg" alt="">
            <span>Destinos</span>
          </a>
        </li>

        <li class="header__list__item">
          <a href="#" class="header__link">
            <img src="../../../assets/icons/house.svg" alt="">
            <span>Alojamientos</span>
          </a>
        </li>

        <li class="header__list__item">
          <a href="#" class="header__link">Sobre nosotros</a>
        </li>

        <li class="header__list__item">
          <a href="#" class="header__button btn">Reserva</a>
        </li>
      </ul>
    </nav>
    <!-- end of navigation -->

    <button class="header__book btn">
      Reservar
    </button>

    <!-- menu button -->
    <button
      class="header__menu-btn"
      type="button"
      aria-label="abrir menú"
      [attr.aria-expanded]="isMenuOpen"
      aria-controls="main-menu"
      (click)="toggleMenu()"
    >

    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="header__menu-icon">
      <g clip-path="url(#clip0_1_3696)">
        <path d="M5 16H27" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5 8H27" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5 24H27" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <defs>
        <clipPath id="clip0_1_3696">
          <rect width="32" height="32" fill="white"/>
        </clipPath>
      </defs>
    </svg>


    <!-- <img src="assets/icons/hamburger.svg" alt="" aria-hidden="true" /> -->
    </button>
    <!-- end of menu button -->
  </div>

</header>
