@import '../../../styles/variables';
@import '../../../styles/mixins';

.header {
  background-color: $white-color;
  padding: $sp-m 0;

  &__container {
    @include flex(row, space-between, center);
    padding: 0 $sp-l;
  }

  &__logo img {
    width: 110px;
    height: auto;
  }

  &__menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: $sp-xs;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .header__menu-icon {
      width: 22px;
      height: 2px;
      background-color: $text-dark;
      border-radius: 2px;
      display: block;
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: $secondary-color-bg;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
    padding: $sp-ml;
    transition: right 0.35s ease;
    display: flex;
    flex-direction: column;

    &--open {
      right: 0;
    }

    .header__close {
      position:absolute;
      top: $sp-sm;
      right: $sp-m;
      background: none;
      border: none;
      align-self: flex-end;
      font-size: $sp-ml;
      cursor: pointer;
      margin: 0;
      padding: $sp-xs;
    }

    .header__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: $sp-l;
    }

    .header__link {
      color: $text-dark;
      font-size: $sp-m;
      text-decoration: none;
      font-weight: 500;
      transition: 0.25s ease;

      &:hover {
        color: $primary-color;
      }
    }

    .header__button {
      background-color: $primary-color;
      color: $white-color;
      padding: $sp-s $sp-l;
      border-radius: 50px;
      display: inline-block;
      font-weight: 600;
      text-align: center;
      margin-top: $sp-l;
    }
  }
}
// end of header
