@import '../../../styles/variables';
@import '../../../styles/mixins';

.header {
  background-color: $white;
  border-bottom: 1px solid $secondary-400;

  &__container {
    @include flex(row, space-between, center);
    padding: $sp-ml;
  }

  &__logo img {
    width: auto;
    height: $sp-ml;

    @include tablet {
      height: $sp-l;
    }
  }

  &__menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: $sp-xs;
    display: flex;
    flex-direction: column;
    gap: $sp-s;
    width: $sp-l;
    height: $sp-l;

    .header__menu-icon {
      width: $sp-ml;
      height: 2px;
      display: block;
      background-color: $primary-700;
      border-radius: $sp-xs;
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: $secondary-050;
    padding: $sp-ml;
    transition: right 0.35s ease;
    display: flex;
    flex-direction: column;

    &--open {
      right: 0;
    }

    .header__close {
      position:absolute;
      top: $sp-sm;
      right: $sp-m;
      background: none;
      border: none;
      align-self: flex-end;
      font-size: $sp-ml;
      cursor: pointer;
      margin: 0;
      padding: $sp-xs;
    }

    .header__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: $sp-l;
    }

    .header__link {
      color: $text-primary;
      font-size: 16px;
      text-decoration: none;
      font-weight: 500;
      transition: 0.25s ease;

      &:hover {
        color: $primary-700;
      }
    }

    .header__button {
      background-color: $primary-700;
      color: $white;
      padding: $sp-s $sp-l;
      border-radius: 50px;
      display: inline-block;
      font-weight: 600;
      text-align: center;
      margin-top: $sp-l;
    }
  }
}
// end of header
