@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';
@import '../../../../../styles/typography';

.card {
  width: 100%;
  background-color: $basic-000;
  border-radius: 12px;
  overflow: hidden;
  @include shadow;

  &-wrapper {
    position: relative;
  }

  &__image {
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  &__tag {
    position: absolute;
    top: $sp-m;
    right: $sp-m;
    padding: $sp-xs $sp-sm;
    border-radius: 16px;
    background-color: $secondary-400;
    color: $text-primary;
    font-size: 12px;
    font-weight: 700;
  }

  &__content {
    @include flex (column, center, flex-start);
  }

  &__top {
    @include flex (column, center, flex-start, 8px);
    width: 100%;
    padding: $sp-m;
  }

  &__bottom {
    @include flex(column, space-between, center, $sp-sm);
    width: 100%;
    padding: $sp-sm $sp-m $sp-m;
    background-color: $secondary-050;

    @include tablet {
      padding: $sp-m;
      @include flex(row, space-between, center);
    }

    &__content {
      @include flex(row-reverse, space-between, flex-end);
      width: 100%;

      @include tablet {
        @include flex(column, center, self-start);
      }
    }
  }

  &__btn {
    width: 100%;
    padding: $sp-sm $sp-l;
  }

  &__meta {
    @include flex(row, center, center, 6px);
  }

  &__location {
    color: $primary-700;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }

  &__days {
    color: $text-primary;
    font-family: 'Syne', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }

  &__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: $text-primary;
  }

  &__price {
    font-size: $sp-ml;
    font-weight: 700;
    color: $text-primary;

    &-box {
      @include flex(column, flex-start, flex-start, $sp-xs);
    }

    &-label {
      font-size: 12px;
      line-height: $sp-m;
      font-weight: 500;
      color: $text-tertiary;
    }
  }

  &__breakdown {
    @include flex(row, center, center);
    cursor: pointer;

    span {
      font-size: 14px;
      line-height: $sp-m;
      font-weight: 600;
      color: $primary-700;
      text-decoration: underline;
    }

    svg {
      color: $primary-700;
    }
  }
}


