@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';
@import '../../../../../styles/typography';

.card {
  width: 100%;
  background-color: $basic-000;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba($basic-900, 0.05);

  &__image {
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  &__tag {
    position: absolute;
    top: $sp-m;
    right: $sp-m;
    padding: $sp-xs $sp-sm;
    border-radius: 16px;
    background-color: $secondary-400;
    color: $text-primary;
    font-size: 12px;
    font-weight: 700;
  }

  &__content {
    padding: $sp-l;
    @include flex(column, flex-start, flex-start, $sp-sm);
  }

  &__meta {
    font-size: 14px;
    color: $text-tertiary;
    line-height: 1.4;
    margin-bottom: $sp-xs;
    display: block;
  }

  &__location {
    font-weight: 700;
    color: $text-primary;
    font-family: $font-syne;
    line-height: 1.4;
  }

  &__days {
    color: $text-secondary;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    color: $text-primary;
  }

  &__bottom {
    width: 100%;
    @include flex(row, space-between, center);
    margin-top: $sp-m;
  }

  &__price-box {
    @include flex(column, flex-start, flex-start, $sp-xs);
  }

  &__price-label {
    font-size: 12px;
    color: $text-tertiary;
  }

  &__price {
    font-size: 20px;
    font-weight: 700;
    color: $text-primary;
  }

  &__breakdown {
    font-size: 12px;
    color: $primary-700;
    text-decoration: none;
  }

  &__btn {
    padding: $sp-sm $sp-l;
    border-radius: 24px;
    background-color: $primary-700;
    color: $basic-000;
    font-size: 14px;
    font-weight: 600;
    border: none;
  }
}
