<div class="card-wrapper">
  <article class="card" #cardRef>
    <div class="card__image" [ngStyle]="{ 'background-image': 'url(' + image + ')' }">
      <span class="card__tag">{{ tag }}</span>
    </div>

    <div class="card__content">
      <div class="card__top">
        <p class="card__meta">
          <span class="card__location">{{ location }}</span>
          <span class="card__days">{{ days }} días</span>
        </p>
        <h3 class="card__title">{{ title }}</h3>
      </div>

      <div class="card__bottom">
        <div class="card__bottom__content">
          <div class="card__price-box">
            <span class="card__price-label">Desde</span>
            <span class="card__price">
              {{ price }},00 €
            </span>
          </div>

          <a class="card__breakdown" (click)="openLocalModal()">
            <span>Ver desglose</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M8.47 10.19c-.26.26-.68.26-.94 0L4.15 6.81a.67.67 0 0 1 0-.94l.06-.06c.26-.26.68-.26.94 0l2.84 2.84 2.83-2.84c.26-.26.68-.26.94 0l.06.06c.26.26.26.68 0 .94l-3.37 3.38Z" fill="currentcolor"/>
            </svg>
          </a>

        </div>

        <button class="card__btn btn btn--white" (click)="button('Reservar')">
          Reservar
        </button>
      </div>
    </div>
  </article>

  <app-price-modal
    *ngIf="isModalOpen"
    [isOpen]="isModalOpen"
    [location]="location"
    [days]="days"
    (close)="closeModal()">
  </app-price-modal>

</div>
