// FLEX
@mixin flex($dir: row, $just: flex-start, $align: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
}

// GRID
@mixin grid($cols: 1, $gap: 16px) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  gap: $gap;
}

// Responsive
@mixin desktop {
  @media (min-width: $bp-desktop) { @content; }
}
@mixin tablet {
  @media (min-width: $bp-tablet) { @content; }
}
@mixin tablet-lg {
  @media (min-width: $bp-tablet-lg) { @content; }
}
