// font families
$font-syne: 'Syne', sans-serif;
$font-nunito: 'Nunito', sans-serif;




html {
  font-size: $sp-m;
}

body {
  font-family: $font-nunito;
  color: $text-primary;
  background: $white;
  margin: 0;
}

h1, h2 {
  font-family: $font-syne;
  margin: 0;
}

h3, h4, h5 {
  font-family: $font-nunito;
  margin: 0;
}

p {
  font-family: $font-nunito;
  margin: 0;
}
