html {
  font-size: 16px;
}

body {
  font-family: 'Inter', 'Roboto', sans-serif;
  color: $text-dark;
  background: $white-color;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.6;
}
