// ===== BRAND COLORS =====
  // primary (purple)
  $primary-low-alpha: rgba(#622f60, 0.32);
  $primary-050: #f5eaf5;
  $primary-100: #e0c8df;
  $primary-200: #d9bad8;
  $primary-300: #c69ac4;
  $primary-400: #b677b3;
  $primary-500: #ac53a9;
  $primary-600: #864084;
  $primary-700: #622f60;
  $primary-800: #471f45;
  $primary-900: #2b132a;

  // secondary (orange)
  $secondary-050: #fbf6f4;
  $secondary-100: #f4e8e1;
  $secondary-200: #ffe1d1;
  $secondary-300: #ffbc99;
  $secondary-400: #ff8f50;
  $secondary-500: #d67843;
  $secondary-600: #b85c28;
  $secondary-700: #8a451e;
  $secondary-800: #4e250e;
  $secondary-900: #31190c;

  // ===== BASIC / NEUTRALS =====
  $basic-white-high-alpha: rgba(#ffffff, 0.72);
  $basic-medium-alpha: rgba(#817781, 0.5);

  $basic-000: #ffffff;
  $basic-050: #f8f7f8;
  $basic-100: #e0d9e0;
  $basic-200: #d1c7d1;
  $basic-300: #bfb0be;
  $basic-400: #a0989f;
  $basic-500: #817781;
  $basic-600: #635a63;
  $basic-700: #494149;
  $basic-800: #342e34;
  $basic-900: #2d242d;

  // text
  $text-primary: $basic-900;
  $text-secondary: $basic-800;
  $text-tertiary: $basic-700;

  // misc
  $white: $basic-000;
  $border-color: #e7e7e7;


// Breakpoints
$bp-desktop: 1440px;
$bp-tablet-lg: 1123px;
$bp-tablet: 744px;

// Spacing scale
$sp-xs: 4px;
$sp-s: 8px;
$sp-sm: 12px;
$sp-m: 16px;
$sp-ml: 24px;
$sp-l: 32px;
$sp-xl: 48px;
$sp-xxl: 56px;
