//Colors
$primary-color: #622F60;
$primary-color-dark: #471F45;
$secondary-color: #FF8F50;
$secondary-color-bg: #FBF6F4;
$secondary-color-dark: #D67843;
$secondary-color-darker: #B85C28;
$text-dark: #2F222F;
$text-light: #342E34;
$white-color: #FFFFFF;
$border-color: #e7e7e7;

$disable-color-light: #E0D9E0;
$disable-color-dark: #A0989F;
$disable-color-darker: #817781;

// Breakpoints
$bp-desktop: 1440px;
$bp-tablet-lg: 1123px;
$bp-tablet: 744px;

// Spacing scale
$sp-xs: 4px;
$sp-s: 8px;
$sp-sm: 12px;
$sp-m: 16px;
$sp-ml: 24px;
$sp-l: 32px;
$sp-xl: 48px;
$sp-xxl: 56px;
