//Colors
$primary-color: #622F60;
$secondary-color: #FF8F50;
$text-dark: #2F222F;
$text-light: #342E34;
$white-color: #FFFFFF;
$border-color: #e7e7e7;

// Breakpoints
$bp-desktop: 1440px;
$bp-tablet-lg: 1123px;
$bp-tablet: 744px;

// Spacing scale
$sp-xs: 4px;
$sp-s: 8px;
$sp-sm: 12px;
$sp-m: 16px;
$sp-ml: 24px;
$sp-l: 32px;
$sp-xl: 48px;
$sp-xxl: 56px;
