/* CSS RESET CLEAN */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

/* UTILS */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 16px;
}

.hidden {
  display: none !important;
}
