@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.hero {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;

  &__slider {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    height: 100%;
  }

  &__slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% center;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include tablet-lg {
      background-position: 60% center;
    }

    @include desktop {
      background-position: 70% center;
    }
  }

  &__content {
    text-align: center;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 0 20px;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
  }

  /* === FLECHAS === */
  &__arrow--prev,
  &__arrow--next {
    width: 40px;
    height: 40px;
    background-color: $primary-low-alpha;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

    svg {
      color: $white;
      width: 24px;
      height: 24px;
    }

    &:hover {
      background-color: $primary-700;
    }
  }

  &__arrow--prev {
    left: 0;
  }

  &__arrow--next {
    right: 0;
  }

  /* === BULLETS WRAPPER === */
  .swiper-pagination {
    position: absolute;
    bottom: 24px;
  }
}

/* === BULLETS === */
:host ::ng-deep .swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 1 !important;
  border: 1px solid $white;
  width: 10px;
  height: 10px;
}

:host ::ng-deep .swiper-pagination-bullet-active {
  background-color: #ec7f3f !important;
}
