<app-header></app-header>
<!-- end of app-header -->

<main class="main">
  <app-hero></app-hero>
  <!-- end of app-hero -->

  <section class="main__content">
    <app-filters-sidebar></app-filters-sidebar>
    <!-- end of app-filters-sidebar -->

    <app-cards-grid></app-cards-grid>
    <!-- end of app-cards-grid -->
  </section>
  <!-- end of main__content -->

  <app-footer></app-footer>
  <!-- end of footer -->
</main>
<!-- end of main -->

<app-price-modal></app-price-modal>
<!-- end of price-modal -->
